$color-body: #edf4f2 ;
$color-botones: #F79F1F;
$color-subtitulos: #6e6363;
$color-verde-hover: green;
$color-rojo-hover: red;
$color-blanco-hover: white;
$shadow-cards: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
