/* Aca hago las importaciones */
@import "colores";

/* FUENTES */

@font-face {
    font-family: texasBold;
    src: url("../assets/fonts/texasBold.otf");
}

/* ***************** */

/* GENERALES */

* {
    margin: 0;
    padding: 0;
}

html {
    color: black;
    background-color: $color-body;
}

body {
    font-family: 'Bebas Neue', cursive;
    background-color: $color-body;
    h1 {
        font-family: texasBold;
        font-size: 4rem;
        border-bottom: 0.1em solid $color-botones;
        border-top: 0.1em solid $color-botones;
    }
    h2 {
        font-family: texasBold;
        font-size: 3rem;
        margin: 0.5em 0 0.5em 0;
        color: $color-subtitulos;
    }
    div {
        div {
            .card {
                margin: 1em 0 0 1.5em;
                box-shadow: $shadow-cards;
            }
        }
    }
}

/* ***************** */

/* HEADER Y NAV */

header {
    display: flex;
    align-items: center;
    height: 15em;
    background-color: $color-body;
}

header img {
    /* aca irian los margenes de la imagen-logo */
    width: 12em;
    margin-left: 10em;
}

.botonera {
    width: auto;
    height: 2.5em;
    margin-left: auto;
    padding-left: 0;
    margin-right: 6em;
    color: black;

        ul {
            list-style: none;
            display: flex;
            background-color: $color-botones;
            border-radius: 15em;

            li {
                width: 10em;
                height: 2.5em;
                line-height: 2.5em;
                text-align: center;
                cursor: pointer;

                a {
                    text-decoration: none;
                    color: black;
                }
            }
        }
}

.botonera ul li:first-child:hover {
    background-color: $color-verde-hover;
    border-radius: 15em;
}

.botonera ul li:nth-child(2):hover {
    background-color: $color-blanco-hover;
    border-radius: 15em;
}

.botonera ul li:last-child:hover {
    background-color: $color-rojo-hover;
    border-radius: 15em;
}


/* SEPARADORES */

main {
    text-align: center;
}

.list-group-item {
    background-color: $color-body;
}

.taquiza {
    font-style: italic;
}

footer {
    background-color: lightgray;
    margin: 2em 0 0 0;
    padding-left: 9em;
    .img-footer {
        margin-top: 1em;
        width: 12em;
    }
    div {
        i {
            a {
                img {
                    padding-top: 5em;
                    width: 4em;
                }
            }
        }
    }
}
/* ***************** */

/* Whatsapp API */

.whatsappLaTaquizaDeliver {
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 0.5em;
    i {
        a {
            img {
                width: 4em;
            }
        }
    }
}

/* ***************** */

.card-vacia {
    background-color: lightgray;
    color: lightgray;
        .card-body {
            .card-title {
                color: lightgray;
            }
        }
}

.card-title {
    color: #7c189d;
}



@media (max-width: 365px) {
    html {
        body {
            margin: 0;
            padding: 0;
            .botonera {
                display:none;
            }
            img {
                margin: 1em 0 1em 0;
            }
            .whatsappLaTaquizaDeliver {
                display: none;
            }
            .card-vacia {
                display: none;
            }
        }
    }
}

@media (max-width: 767px) {
    
    html {

        .container-fluid {
            margin: 0;
            padding: 0;
            overflow: scroll;
            h1 {
                font-size: 2rem;
                margin-top: 1em;
            }
            h2 {
                font-size: 1.2rem;
            }
            iframe {
                width: 100%;
            }
            .alcance {
                width: 80%;
            }
            #conocenos h2 {
                font-size: 1rem;
            }
            .logo {
                margin-left: 4em;
            }
            .botonera {
                display:none;
            }
            .whatsappLaTaquizaDeliver {
                display: none;
            }
            .card-vacia {
                display: none;
            }
            footer {
                padding: 0;
            }
        } 
    }
}

@media (max-width: 946px) {
    html {
        .container-fluid {
            .botonera {
                display:none;
            }
            footer.row {
                padding: 0;
                .img-footer {
                    width: 9em;
                } 
            }
            .whatsappLaTaquizaDeliver {
                display: none;
            }
            .logo {
                margin-left: 13em;
            }
        }
    }
}

@media (prefers-color-scheme: dark) {
    body {
     /* dark styles here */
   }
}
